<div style="background-color: rgba(103, 128, 159)">
  <h1 class="step_text">
    Choose the location where you found the type of allergy and fill in the form
    that will appear
  </h1>
  <google-map
    height="450px"
    width="100%"
    [center]="center"
    [zoom]="zoom"
    (mapClick)="addMarker($event)"
    (mapMousemove)="move($event)"
  >
    <map-marker
      *ngFor="let markerPosition of markerPositions; let i = index"
      #marker="mapMarker"
      [position]="markerPosition.position"
      [options]="markerOptions"
      (mapClick)="openInfoWindow(marker, markerPosition)"
    >
    </map-marker>
    <map-info-window>
      <ng-container *ngIf="selectedMarker">
        <div class="map_windows">
          {{ selectedMarker.description }}
          <p *ngIf="user | async as user">by {{ user.username }}</p>
          <a
            class="delete btn btn-danger btn-sm"
            (click)="removeMarker(selectedMarker.id)"
            >Delete</a
          >
        </div>
      </ng-container>
    </map-info-window>
  </google-map>
  <div class="modal__show" *ngIf="isEditMode">
    <div>
      <span
        >Write a short description for the type of allergy you encountered</span
      >
      <form style="margin-top: 20px">
        Description:
        <input type="textarea" [formControl]="descriptionInput" />
      </form>
    </div>
    <div>Latitude: {{ selectedCoordinates?.lat }}</div>
    <div>Longitude: {{ selectedCoordinates?.lng }}</div>
    <button class="btn btn-primary" (click)="submit()">Submit</button>
  </div>
</div>
